
<p>
  <strong>Title:</strong>
  <%= post.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= post.description %>
</p>

<p>
  <%= link_to 'Destroy Post', [post.category, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>