
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Posts</h2>
<%= render @category.posts %>

<h2>Add a post:</h2>
<%= render 'posts/form' %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>